X_HTTP_BASE=https://dummyjson.com
# default 0, 1: server log file, 0: server log to console
X_SERVER_LOG=0
# http server & client log level,default to 3, 0: disable, 1: error, 3: error+slow, 10: all
X_HTTP_LOG_LEVEL=10